# EditorConfig is awesome: https://editorconfig.org
# Root EditorConfig file
root = true

# every file
[*]

# Set default charset
charset = utf-8
# end with lf
end_of_line = lf
# Indentation style
indent_style = space
indent_size = 2
# drop trailing whitespace
trim_trailing_whitespace = true
